<footer class="gl footer section">
  <div class="ui huge container">
    <div class="footer-column-wrapper">
      <div class="footer-links">
        <div class="footer-column footer-column-process">
          <h4 class="ui inverted header">Process</h4>

          <div class="ui inverted link list">
            <a class="item" target="_self" href="https://golance.com/upwork" title="goLance vs. Upwork">goLance vs. Upwork</a>
            <a class="item" target="_self" href="https://golance.com/how-it-works" title="How It Works">How It Works</a>
            <a class="item" target="_self" href="https://golance.com/payment-and-billing" title="Payment & Billing">Payment & Billing</a>
            <a class="item" ui-sref="download-gometer" title="Download goMeter">Download goMeter</a>
          </div>
        </div>

        <div class="footer-column footer-column-terms">
          <h4 class="ui inverted header">Terms and Benefits</h4>

          <div class="ui inverted link list">
            <a class="item" target="_self" href="https://golance.com/gorefer" title="goRefer">goRefer</a>
            <a class="item" target="_self" href="https://golance.com/organization-tools" title="Organizational Tools">Organizational Tools</a>
            <a class="item" target="_self" href="https://golance.com/terms-of-service" title="Terms Of Service">Terms Of Service</a>
            <a class="item" target="_self" href="https://golance.com/privacy-policy" title="Privacy Policy">Privacy Policy</a>
            <a class="item" target="_self" href="https://golance.com/gdpr" title="GDPR">GDPR</a>
          </div>
        </div>

        <div class="footer-column footer-column-about">
          <h4 class="ui inverted header">About</h4>

          <div class="ui inverted link list">
            <a class="item" target="_self" href="https://golance.com/about-us" title="About Us">About Us</a>
            <a class="item" target="_self" href="https://golance.com/contact" title="Contact">Contact</a>
            <a class="item" href="http://blog.golance.com" title="Blog">Blog</a>
          </div>
        </div>

        <div class="footer-column footer-column-browse">
          <h4 class="ui inverted header">Browse</h4>

          <div class="ui inverted link list">
            <a class="item" ui-sref="gohire" ui-sref-opts="{reload: true}" title="Hire">Hire</a>
            <a class="item" ui-sref="gowork" ui-sref-opts="{reload: true}" title="Work">Work</a>
          </div>
        </div>
      </div>

      <div class="footer-social">
        <div class="footer-column footer-column-social">
          <h4 class="ui inverted header">Follow Us</h4>

          <div class="ui inverted link list footer-social-icons">
            <a href="https://twitter.com/goLanceInc" target="_blank" class="footer-social-icon social-icon-twitter">
              <i class="icon">
                <svg data-v-55970a18="" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><g data-v-55970a18="" fill="none" fill-rule="evenodd"><circle data-v-55970a18="" cx="18" cy="18" r="18" fill="#666E76" class="icon-twitter"></circle> <path data-v-55970a18="" fill="#FFF" d="M27.917 11.982a7.354 7.354 0 0 1-.936.34c.378-.427.667-.93.843-1.48a.312.312 0 0 0-.457-.365 7.37 7.37 0 0 1-2.177.861 4.176 4.176 0 0 0-2.909-1.185 4.16 4.16 0 0 0-4.121 4.692 10.639 10.639 0 0 1-7.302-3.874.312.312 0 0 0-.511.04 4.151 4.151 0 0 0-.563 2.09c0 1 .357 1.95.989 2.693a3.547 3.547 0 0 1-.557-.248.312.312 0 0 0-.463.265v.056a4.17 4.17 0 0 0 2.034 3.573 3.566 3.566 0 0 1-.317-.046.313.313 0 0 0-.355.402 4.153 4.153 0 0 0 3.043 2.785 7.35 7.35 0 0 1-3.929 1.122c-.295 0-.59-.017-.88-.052a.313.313 0 0 0-.205.573A11.206 11.206 0 0 0 15.204 26c4.23 0 6.876-1.995 8.351-3.668 1.84-2.087 2.895-4.85 2.895-7.579 0-.114-.002-.229-.005-.343a8.078 8.078 0 0 0 1.858-1.97.312.312 0 0 0-.386-.458z"></path></g></svg>
              </i>
            </a>

            <a href="https://www.facebook.com/pages/goLance-Inc/1431043680529129" target="_blank" class="footer-social-icon social-icon-facebook">
              <i class="icon">
                <svg data-v-d47c0eb2="" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><g data-v-d47c0eb2="" fill="none" fill-rule="evenodd"><circle data-v-d47c0eb2="" cx="18" cy="18" r="18" fill="#666E76" class="icon-facebook"></circle> <path data-v-d47c0eb2="" fill="#FFF" d="M14.99 11.82v2.716H13v3.32h1.99v9.87h4.087v-9.868h2.742s.257-1.593.383-3.334h-3.11v-2.27c0-.34.446-.796.887-.796h2.227V8h-3.029c-4.288 0-4.187 3.324-4.187 3.82z"></path></g></svg>
              </i>
            </a>

            <a href="https://www.linkedin.com/company/golance" target="_blank" class="footer-social-icon social-icon-linkedin">
              <i class="icon">
                <svg data-v-a40f9242="" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><g data-v-a40f9242="" fill="none" fill-rule="evenodd"><circle data-v-a40f9242="" cx="18" cy="18" r="18" fill="#666E76" class="icon-linkedin"></circle> <path data-v-a40f9242="" d="M9.226 24.925h4.072v-12.1H9.226zm2.034-13.742h.027c1.426 0 2.312-.93 2.312-2.092C13.573 7.903 12.713 7 11.314 7 9.914 7 9 7.903 9 9.09c0 1.163.889 2.093 2.26 2.093zm8.38 13.772v-6.777c0-.364.028-.724.135-.984.295-.725.964-1.475 2.09-1.475 1.474 0 2.062 1.113 2.062 2.744v6.492H28v-6.959c0-3.727-2.009-5.46-4.69-5.46-2.163 0-3.129 1.179-3.67 2.003v.04h-.027c.007-.013.019-.026.027-.04V12.82h-4.074c.055 1.139 0 12.135 0 12.135h4.074z" fill="#FFF"></path></g></svg>
              </i>
            </a>

            <a href="https://www.youtube.com/channel/UCLK_ys5WryiHiStq6jTqDxQ" target="_blank" class="footer-social-icon social-icon-youtube">
              <i class="icon">
                <svg data-v-337b68b8="" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><g data-v-337b68b8="" fill="none" fill-rule="evenodd"><circle data-v-337b68b8="" cx="18" cy="18" r="18" fill="#666E76" class="icon-youtube"></circle> <path data-v-337b68b8="" fill="#FFF" d="M9.761 25.702c2.728.298 5.489.3 8.238.298 2.75.001 5.51 0 8.238-.298a2.759 2.759 0 0 0 2.378-2.115C29 21.958 29 20.177 29 18.5c0-1.678.003-3.457-.38-5.087a2.757 2.757 0 0 0-2.379-2.115c-2.728-.298-5.489-.3-8.238-.298-2.749 0-5.51 0-8.239.298a2.755 2.755 0 0 0-2.376 2.115C7.004 15.043 7 16.822 7 18.5s0 3.458.384 5.087a2.756 2.756 0 0 0 2.377 2.115zm5.4-10.978l6.994 3.569-6.994 3.548v-7.117z"></path></g></svg>
              </i>
            </a>
            <a href="https://www.instagram.com/golanceofficial/" target="_blank" class="footer-social-icon social-icon-instagram">
              <i class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 48 48"
                >
                  <circle
                    cx="24"
                    cy="24"
                    fill="#666E76"
                    r="24"
                  />
                  <path
                    d="M31.2 12.3H16.8c-2.5 0-4.5 2-4.5 4.5V31.2c0 2.5 2 4.5 4.5 4.5h14.4c2.5 0 4.5-2 4.5-4.5V16.8c0-2.5-2-4.5-4.5-4.5zm1.3 2.7h.5v4h-4v-4h3.5zm-11.8 6.6c.7-1 2-1.7 3.3-1.7s2.6.7 3.3 1.7c.5.7.8 1.5.8 2.4 0 2.3-1.9 4.1-4.1 4.1s-4.1-1.8-4.1-4.1c0-.9.3-1.7.8-2.4zm12.7 9.6c0 1.2-1 2.2-2.2 2.2H16.8c-1.2 0-2.2-1-2.2-2.2v-9.6h3.5c-.3.7-.5 1.6-.5 2.4 0 3.5 2.9 6.4 6.4 6.4 3.5 0 6.4-2.9 6.4-6.4 0-.8-.2-1.7-.5-2.4h3.5v9.6z"
                    fill="#FFF"
                  />
                </svg>
              </i>
            </a>
          </div>

          <div class="footer-app-links">
            <a class="gl store button" href="https://itunes.apple.com/us/app/golance-work-smarter-hire-better/id1204806694?ls=1&amp;mt=8" target="_blank" rel="noopener" data-element="app-store-button">
              <i class="gl icon custom">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 291.538 291.538">
                  <path d="M188.373 44.308c10.97-11.744 18.39-28.049 16.359-44.308-15.804.564-34.958 9.277-46.302 21.02-10.169 10.396-19.072 27.011-16.696 42.951 17.635 1.193 35.651-7.938 46.639-19.663zm33.657 112.285c-.337-36.451 28.859-53.958 30.152-54.804-16.414-24.753-41.977-28.14-51.081-28.522-21.767-2.285-42.442 13.182-53.493 13.182-11.006 0-28.03-12.882-46.083-12.536-23.733.391-45.601 14.211-57.79 36.114-24.654 44.063-6.319 109.336 17.705 145.077 11.744 17.497 25.727 37.125 44.089 36.415 17.725-.71 24.407-11.789 45.792-11.789 21.394 0 27.384 11.789 46.101 11.434 19.045-.355 31.098-17.834 42.742-35.386 13.473-20.292 19.027-39.938 19.345-40.93-.409-.237-37.088-14.666-37.479-58.255z" fill="#ccd0d2"></path>
                </svg>
              </i>

              <div>Download on the
                <div>App Store</div>
              </div>
            </a>

            <a class="gl store button" href="https://play.google.com/store/apps/details?id=com.golance" target="_blank" rel="noopener" data-element="play-store-button">
              <i class="gl icon custom">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 413.137 413.137">
                  <g fill="#aac148">
                    <path d="M311.358 136.395H101.779a8.44 8.44 0 0 0-8.441 8.441v175.749a8.44 8.44 0 0 0 8.441 8.441h37.363v59.228c0 13.742 11.14 24.883 24.883 24.883 13.742 0 24.883-11.14 24.883-24.883v-59.228h34.803v59.228c0 13.742 11.14 24.883 24.883 24.883 13.742 0 24.883-11.14 24.883-24.883v-59.228h37.882a8.44 8.44 0 0 0 8.441-8.441V144.836a8.442 8.442 0 0 0-8.442-8.441zM57.856 136.354c-13.742 0-24.883 11.14-24.883 24.883v101.065c0 13.742 11.14 24.883 24.883 24.883 13.742 0 24.883-11.14 24.883-24.883V161.237c-.001-13.742-11.141-24.883-24.883-24.883zM355.281 136.354c-13.742 0-24.883 11.14-24.883 24.883v101.065c0 13.742 11.14 24.883 24.883 24.883 13.742 0 24.883-11.14 24.883-24.883V161.237c0-13.742-11.14-24.883-24.883-24.883zM103.475 124.069h205.692c5.366 0 9.368-4.943 8.266-10.195-6.804-32.428-27.45-59.756-55.465-75.543l17.584-31.727a4.447 4.447 0 0 0-7.78-4.311l-17.717 31.966c-14.511-6.734-30.683-10.495-47.734-10.495-17.052 0-33.224 3.761-47.735 10.495L140.869 2.292a4.447 4.447 0 0 0-7.779 4.311l17.584 31.727c-28.015 15.788-48.661 43.115-55.465 75.544-1.103 5.252 2.899 10.195 8.266 10.195zm164.222-47.283c0 5.282-4.282 9.565-9.565 9.565-5.282 0-9.565-4.282-9.565-9.565 0-5.282 4.282-9.565 9.565-9.565 5.283 0 9.565 4.283 9.565 9.565zm-113.189-9.565c5.282 0 9.565 4.282 9.565 9.565 0 5.282-4.282 9.565-9.565 9.565-5.282 0-9.565-4.282-9.565-9.565 0-5.282 4.282-9.565 9.565-9.565z"></path>
                  </g>
                </svg>
              </i>

              <div>Get it for
                <div>Android</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-payment-title">Global Payment Partners</div>

  <div class="ui huge container">
    <div class="middle aligned center aligned column">
      <div class="ui fitted middle aligned center aligned equal width footer-payment-providers grid">
        <div class="column">
          <div>
            <i class="huge custom icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="131" height="32" viewBox="0 0 131 32"><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M48.84 7.233h-7.227c-.495 0-.916.359-.993.847l-2.923 18.522a.602.602 0 0 0 .596.695h3.45c.495 0 .916-.36.993-.848l.789-4.996c.076-.489.497-.848.991-.848h2.288c4.761 0 7.51-2.303 8.227-6.865.324-1.996.014-3.565-.922-4.663-1.027-1.206-2.85-1.844-5.268-1.844zm.835 6.765c-.396 2.591-2.377 2.591-4.293 2.591H44.29l.765-4.84a.602.602 0 0 1 .595-.508h.5c1.305 0 2.537 0 3.173.743.38.444.495 1.103.35 2.014zm20.772-.084h-3.461a.603.603 0 0 0-.595.508l-.154.967-.241-.35c-.75-1.087-2.42-1.45-4.089-1.45-3.825 0-7.092 2.895-7.728 6.956-.33 2.025.14 3.963 1.29 5.313 1.055 1.242 2.564 1.76 4.36 1.76 3.081 0 4.79-1.98 4.79-1.98l-.154.96a.602.602 0 0 0 .594.698h3.118c.496 0 .914-.36.992-.848l1.871-11.839a.6.6 0 0 0-.593-.695zm-4.825 6.732c-.334 1.976-1.903 3.303-3.905 3.303-1.005 0-1.808-.322-2.324-.933-.512-.606-.706-1.469-.543-2.43.312-1.96 1.907-3.33 3.879-3.33.983 0 1.782.327 2.308.943.527.622.737 1.49.585 2.447zm23.26-6.732h-3.479c-.331 0-.643.165-.831.44l-4.798 7.062-2.033-6.786a1.007 1.007 0 0 0-.964-.716h-3.418a.602.602 0 0 0-.572.797l3.832 11.235-3.602 5.081c-.284.4.002.95.491.95h3.474c.33 0 .638-.16.825-.43l11.57-16.688a.602.602 0 0 0-.495-.945m11.516-6.681h-7.23c-.493 0-.914.359-.99.847l-2.924 18.522a.601.601 0 0 0 .594.695h3.71a.702.702 0 0 0 .693-.594l.83-5.25c.076-.489.497-.848.991-.848h2.287c4.762 0 7.51-2.303 8.228-6.865.325-1.996.013-3.565-.923-4.663-1.026-1.206-2.847-1.844-5.266-1.844zm.834 6.765c-.395 2.591-2.376 2.591-4.293 2.591h-1.09l.766-4.84a.6.6 0 0 1 .594-.508h.5c1.304 0 2.537 0 3.173.743.38.444.495 1.103.35 2.014zm20.771-.084h-3.46a.6.6 0 0 0-.593.508l-.153.967-.243-.35c-.75-1.087-2.42-1.45-4.088-1.45-3.824 0-7.09 2.895-7.726 6.956-.33 2.025.138 3.963 1.288 5.313 1.057 1.242 2.564 1.76 4.36 1.76 3.081 0 4.79-1.98 4.79-1.98l-.154.96a.602.602 0 0 0 .596.698h3.117c.494 0 .914-.36.992-.848l1.871-11.839a.603.603 0 0 0-.597-.695zm-4.824 6.732c-.332 1.976-1.904 3.303-3.906 3.303-1.003 0-1.808-.322-2.324-.933-.511-.606-.704-1.469-.543-2.43.314-1.96 1.907-3.33 3.879-3.33.983 0 1.782.327 2.308.943.53.622.739 1.49.586 2.447zm8.905-12.906l-2.967 18.862a.6.6 0 0 0 .594.695h2.983c.496 0 .916-.36.992-.848l2.926-18.521a.602.602 0 0 0-.594-.696h-3.34a.604.604 0 0 0-.594.509"></path> <path fill="#298FC2" d="M24.36 8.202c-.03.19-.064.383-.102.581-1.307 6.708-5.78 9.025-11.493 9.025H9.857c-.699 0-1.288.507-1.396 1.196L6.55 31.117a.744.744 0 0 0 .734.86h5.16c.61 0 1.129-.444 1.225-1.046l.05-.262.972-6.16.062-.337a1.24 1.24 0 0 1 1.226-1.048h.772c4.998 0 8.91-2.028 10.054-7.896.478-2.451.23-4.498-1.033-5.938a4.927 4.927 0 0 0-1.413-1.088"></path> <path fill="#22284F" d="M22.992 7.657a10.267 10.267 0 0 0-1.271-.282 16.182 16.182 0 0 0-2.565-.186h-7.77a1.238 1.238 0 0 0-1.225 1.048L8.508 18.698l-.047.305a1.412 1.412 0 0 1 1.396-1.196h2.908c5.713 0 10.186-2.318 11.493-9.025.04-.198.072-.392.101-.58a6.955 6.955 0 0 0-1.074-.454 10.036 10.036 0 0 0-.293-.092"></path> <path fill="#28356A" d="M10.161 8.236a1.234 1.234 0 0 1 1.225-1.047h7.77c.92 0 1.78.06 2.565.187a10.268 10.268 0 0 1 1.565.373c.385.128.744.28 1.075.453.389-2.478-.004-4.166-1.345-5.695C21.538.825 18.87.105 15.454.105H5.54c-.697 0-1.292.506-1.4 1.196L.01 27.457a.851.851 0 0 0 .84.985h6.121l3.19-20.206"></path></g></svg>
            </i>
          </div>
        </div>

        <div class="column">
          <div>
            <i class="huge custom icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="91" height="32" viewBox="0 0 91 32"><defs><path id="a-payoneer" d="M.099.046h34.847V31.89H.099z"></path> <path id="c-payoneer" d="M0 .074h12.713v15.584H0z"></path></defs> <g fill="none" fill-rule="evenodd"><g transform="translate(22.438 .064)"><mask id="b-payoneer" fill="#fff"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#a-payoneer"></use></mask> <path fill="#F78223" d="M30.634.046c.298.071.594.161.895.21 1.234.2 2.217.855 3.065 1.718.204.208.415.628.334.839-.095.243-.493.475-.789.519a34.446 34.446 0 0 0-8.049 2.19c-1.5.614-2.955 1.355-4.386 2.12-3.116 1.665-5.645 4.07-8.116 6.537-2.614 2.609-5.058 5.368-7.192 8.38a94.662 94.662 0 0 0-3.758 5.78c-.595.985-.977 2.095-1.465 3.144-.074.157-.244.423-.3.407-.212-.064-.513-.185-.567-.353-.131-.408-.262-.877-.184-1.282.421-2.203 1.338-4.232 2.364-6.209 1.99-3.833 4.483-7.328 7.398-10.511a112.927 112.927 0 0 1 5.148-5.266c2.664-2.553 5.629-4.711 8.937-6.382 1.526-.77 3.117-1.346 4.8-1.662.282-.053.561-.12.841-.18h1.024z" mask="url(#b-payoneer)"></path></g> <g transform="translate(0 8.94)"><mask id="d-payoneer" fill="#fff"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#c-payoneer"></use></mask> <path fill="#FFF" d="M4.738 7.514c.673 0 1.274.053 1.86-.011 1.142-.125 2.063-.635 2.574-1.717.58-1.228.163-2.527-.937-2.916-.78-.276-1.586-.216-2.386-.11-.097.012-.233.162-.254.268-.284 1.433-.552 2.87-.857 4.486M0 15.657c.15-.826.28-1.58.424-2.332C1.219 9.176 2.02 5.028 2.808.878c.05-.261.127-.444.399-.484C5.267.083 7.332-.127 9.39.38c1.798.444 3.044 1.697 3.258 3.175.428 2.947-1.294 5.308-3.863 6.15-1.35.444-2.728.546-4.128.418-.33-.03-.428.057-.485.367-.294 1.607-.608 3.21-.926 4.813-.026.127-.141.337-.219.339-.986.023-1.972.015-3.027.015" mask="url(#d-payoneer)"></path></g> <path fill="#FFF" d="M20.277 15.724c-1.066-.295-1.957-.091-2.706.537-1.407 1.18-2.047 2.723-1.925 4.549.038.563.25 1.1.845 1.338.594.239 1.136.068 1.596-.324a3.89 3.89 0 0 0 .738-.822c1.042-1.598 1.07-3.468 1.452-5.278m-.774 6.771c-.553.574-.99 1.152-1.545 1.578-1.154.885-2.472 1.09-3.808.477-1.319-.605-1.862-1.776-1.918-3.157-.116-2.903.897-5.304 3.353-6.973 1.543-1.048 3.311-1.37 5.143-1.268.937.053 1.864.274 2.797.403.38.053.43.262.368.586-.415 2.164-.858 4.324-1.216 6.498-.19 1.154-.246 2.331-.321 3.5-.023.356-.11.493-.478.48a31.646 31.646 0 0 0-2.047 0c-.354.012-.468-.118-.437-.459.05-.544.073-1.09.11-1.665m19.49-2.411c0 .17-.011.34.002.51.09 1.146.915 1.89 1.998 1.79.605-.054 1.082-.37 1.448-.833.978-1.234 1.357-2.666 1.226-4.207-.107-1.259-1.061-1.934-2.23-1.667-.568.13-.997.483-1.338.943-.763 1.029-1.07 2.205-1.106 3.464m2.043 4.78c-2.912.004-4.573-1.07-5.185-3.007-1.003-3.18.921-8.142 5.636-8.665 1.41-.156 2.727.022 3.884.876 1.102.814 1.635 1.95 1.72 3.3.086 1.4-.151 2.744-.817 3.986-1.246 2.322-3.23 3.45-5.238 3.51m8.675-11.447h2.794l-.14 1.747c.324-.3.605-.577.903-.835 1.087-.943 2.337-1.36 3.778-1.126 1.192.194 2.015 1.067 2.15 2.282.15 1.356-.133 2.671-.385 3.99a394.847 394.847 0 0 1-.928 4.76c-.028.14-.196.354-.304.357-.945.024-1.89.01-2.835.002-.042 0-.083-.035-.172-.076.172-.912.355-1.829.518-2.75.25-1.41.491-2.821.72-4.234.04-.24.02-.494-.007-.737-.093-.84-.71-1.231-1.53-.97-.794.251-1.264.861-1.655 1.543-.57.996-.772 2.105-.969 3.215a181.66 181.66 0 0 1-.672 3.636c-.029.143-.197.366-.306.369-.972.029-1.946.017-3.023.017l2.063-11.19m14.311 4.415c.852.174 2.585-.033 3.252-.379.457-.237.69-.63.617-1.088-.075-.47-.391-.706-.835-.814-1.314-.318-2.86.826-3.034 2.281m-.323 2.38c-.075 1.139.698 1.947 1.866 2.088 1.132.136 2.222-.042 3.28-.445.116-.044.231-.088.348-.128.027-.009.06-.001.14-.001.064.664.145 1.332.179 2.003.007.13-.143.342-.27.394-1.839.75-3.745 1.01-5.68.512-1.81-.464-2.793-1.756-2.996-3.556-.287-2.551.46-4.789 2.456-6.478 1.642-1.39 3.563-1.826 5.653-1.207 1.397.414 2.176 1.453 2.28 2.89.103 1.414-.519 2.498-1.833 3.152-1.028.512-2.143.701-3.276.768-.708.042-1.42.008-2.147.008m11.304-2.289c.702-.045 1.365-.052 2.018-.14.436-.06.876-.192 1.28-.368.434-.19.637-.577.57-1.06-.064-.457-.379-.678-.8-.794-1.305-.359-2.921.827-3.068 2.362m-.315 2.332c-.104 1.079.673 1.9 1.85 2.044 1.098.133 2.16-.03 3.194-.407.173-.063.344-.129.574-.215.07.71.154 1.376.19 2.045.006.13-.142.345-.27.397-1.867.762-3.8 1.025-5.765.49-1.767-.482-2.699-1.762-2.913-3.521-.273-2.244.306-4.278 1.877-5.939 1.69-1.785 3.777-2.423 6.174-1.765 1.467.403 2.246 1.455 2.337 2.935.089 1.445-.573 2.536-1.947 3.171-1.382.639-2.865.734-4.357.764-.307.006-.615 0-.944 0m7.424 4.346c.149-.812.274-1.551.42-2.287.568-2.842 1.16-5.68 1.393-8.577.01-.12.173-.32.269-.324.833-.026 1.667-.015 2.577-.015l-.18 2.239c1.014-1.485 2.181-2.686 4.27-2.47-.204 1.04-.389 2.002-.593 2.96-.017.081-.162.18-.257.192-2.168.284-3.08 1.052-3.62 3.263-.378 1.54-.626 3.111-.944 4.666-.026.127-.14.335-.216.337-1.017.023-2.035.015-3.119.015"></path> <path fill="#F78223" d="M29.05 10.708a13.544 13.544 0 0 1-.83 4.444c-.056.153-.168.29-.27.422-.245.319-.505.345-.688-.004a6.094 6.094 0 0 1-.56-1.452 130.313 130.313 0 0 1-.978-4.663c-.381-1.994-.726-3.995-1.08-5.993a9.523 9.523 0 0 1-.1-.87c-.028-.33.162-.494.453-.39.283.102.577.261.78.476 1.747 1.849 2.847 4.016 3.147 6.557.058.49.085.982.126 1.473"></path></g></svg>
            </i>
          </div>
        </div>

        <div class="column">
          <div>
            <i class="huge custom icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="95" height="32" viewBox="0 0 95 32"><g fill="none"><path fill="#FFF" d="M53.005 27.033c2.896.4 4.694-.133 6.06-1.5.865-.866 1.53-1.866 2.097-2.933 2.33-4.3 7.99-14.667 7.99-14.667h-4.061l-4.229 8.5-1.332-8.5h-4.328v.2S56.667 15.9 57.4 19.9c.1.6.233 2.133-.833 3.1-.6.567-1.465 1-2.963.767l-.6 3.266zm-3.23-19.1l-3.929 8.934-.1-.034-.532-8.666h-4.295l-4.162 8.7-.1-.067-.166-8.867h-4.096l.8 14.234h4.428l4.295-9.267h.1l.665 9.267h4.462l6.459-14.234h-3.829zm23.64 14.234h-4.296c.966-4.8 1.865-9.434 2.83-14.234h3.33v2.634c.432-1.067 1.065-2.1 2.097-2.534.999-.433 2.564-.4 4.162.067-.633 1.233-1.099 2.3-1.798 3.633-.6-.133-1.165-.266-1.731-.333-1.265-.133-2.164.367-2.597 1.567-.3.833-.5 1.733-.666 2.6-.466 2.2-.866 4.4-1.332 6.6zm13.75-10.83c.599-.736 1.731-1.17 2.53-.903.999.3 1.332 1.437.633 2.206-.233.268-.566.468-.9.602-1.031.401-2.097.368-3.229.167.167-.802.466-1.47.966-2.073zm5.493 7.296h-.133c-1.631.634-3.463.8-4.728.434-1.398-.4-2.197-1.6-1.93-2.967 4.128.333 5.892-.433 6.858-1 2.564-1.533 3.196-5.633-.133-6.833-2.93-1.067-7.025-.567-8.956 1.766-1.765 2.134-2.265 4.467-1.998 7.1.2 1.967 1.531 4.767 5.926 5.234 2.664.266 4.362-.434 4.495-.467l.6-3.267z"></path> <path fill="#94C5FF" d="M16.148 15.867h9.755l-5.26 12.9a4.74 4.74 0 0 1-4.395 2.966H6.492l5.26-12.9c.733-1.833 2.465-2.966 4.396-2.966"></path> <path fill="#1A32AF" d="M25.903 15.867L19.977 23.4c-.9 1.2-2.264 1.967-3.863 1.967H9.023L11.72 18.8a4.76 4.76 0 0 1 4.394-2.933h9.789z"></path> <path fill="#0092FF" d="M12.885 7.933h9.755l-5.26 12.9a4.74 4.74 0 0 1-4.395 2.967H3.23l5.26-12.9a4.773 4.773 0 0 1 4.395-2.967"></path> <path fill="#1A32AF" d="M22.673 7.933l-5.926 7.534c-.899 1.2-2.264 1.966-3.862 1.966H5.793l2.697-6.566a4.76 4.76 0 0 1 4.395-2.934h9.788z"></path> <path fill="#05F" d="M9.655 0h9.756l-5.26 12.9a4.74 4.74 0 0 1-4.396 2.967H0l5.26-12.9A4.74 4.74 0 0 1 9.656 0"></path></g></svg>
            </i>
          </div>
        </div>

        <div class="column">
          <div>
            <i class="huge custom icon">
              <svg version="1" xmlns="http://www.w3.org/2000/svg" width="108" height="32" viewBox="0 0 563 164" fill="#ffffff"><path d="M456 8.1c0 .5-.4.7-1 .4-.5-.3-1 0-1.1.7-.1 1.2-16.1 15.9-18.3 16.7-1.7.7-3.6 2.9-3.6 4.2 0 .7-.3 1-.6.6-.3-.3-1.8.8-3.2 2.4l-2.5 3.1 6.9 6.3c3.8 3.6 7.2 6.4 7.7 6.5.4 0 .7.7.7 1.6 0 .8.5 1.2 1 .9.6-.3 1 .1 1 1s.5 1.3 1 1c.6-.3 1 .2 1 1.1 0 1 .3 1.5.6 1.1.3-.3 2 .7 3.7 2.3 1.8 1.6 4.3 3.8 5.7 5l2.5 2.2.3-6.1.3-6.1H492V18h-34v-5.5c0-3-.4-5.5-1-5.5-.5 0-1 .5-1 1.1z"></path> <path d="M501 20c0 10 .9 14 3.1 14 1.6 0 1.9-.8 1.9-4.1 0-3.6.2-4 1.5-2.9.8.7 1.2 1.6.9 2.1-.3.5-.1.9.5.9 1.3 0 8.1 6.7 8.1 8 0 .6.5.8 1 .5.6-.3 1 .1 1 1s.5 1.3 1 1c.6-.3 1-.1 1 .5 0 1.5 2.5 4 4 4 .6 0 .8.4.5 1-.3.5-.1 1 .5 1 1.4 0 4 2.5 4 3.8 0 .5-.9 1.7-2 2.7-1.1 1-2 1.5-2 1.1 0-.4-2.1 1.5-4.6 4.1-2.5 2.6-5 4.7-5.5 4.5-.5-.1-.9.4-1 1 0 .7-2.1 3-4.5 5.2l-4.4 3.9V63.2l-14.2-.7c-7.9-.4-16.5-.5-19.3-.3l-5 .3-6.9 14c-7.2 14.5-11.7 24.2-13.5 28.5-.9 2.2-1 2-1-2.2-.1-2.6-.5-8-1-12-.6-4-1.5-11.9-2.2-17.6L441.7 63h-10c-9 0-9.9.2-9.2 1.7.4 1 .9 3.4 1.1 5.3.2 1.9.8 5.3 1.3 7.5s1.5 6.7 2.1 10c.6 3.3 1.5 7.5 2 9.3.4 1.7.4 3 0 2.7-.5-.3-.2 1.6.5 4.2.8 2.7 2.3 9.3 3.3 14.7l1.9 10-2.8 4.6c-3 4.9-6.2 7-10.8 7-2.5 0-3 .6-4.4 5.1-3.2 9.9-1.9 11.7 8 10.5 7.2-.8 7.2-.8 7.7-2.3.3-.7 1.2-1.3 2.1-1.3.8 0 1.4-.6 1.2-1.3-.1-.6.4-1.1 1-1 .7.2 1.2-.3 1-1-.1-.6.4-1.1 1-1 .7.2 1.2 0 1.1-.5-.1-.4 1.4-3.2 3.3-6.2 4.1-6.3 8.4-13.7 11.2-19.5 1.1-2.2 2.4-4.3 2.9-4.6.5-.3.9-.9.9-1.3-.2-1.4 10.8-22 12-22.4.5-.2.7-.7.4-1.2-.3-.5.1-1.4.8-2.2.7-.7 1.9-2.8 2.6-4.6.7-1.7 1.8-3.2 2.4-3.2.6 0 .8-.3.4-.6-.7-.7 4.8-11.5 6.5-12.6.7-.4 5-.8 9.4-.8h8.1l.7 3.7c.3 2.1.6 5.3.6 7 0 4 .9 4.1 4 .8 1.3-1.4 2.6-2.3 2.8-2 .3.2 2-1.2 3.9-3.3 1.9-2 3.9-3.6 4.4-3.4.5.1.8-.4.7-1-.2-.7.3-1.2 1-1 .6.1 1.1-.2 1-.6-.2-.5 2-2.8 4.7-5.1 7-5.9 12.5-11.2 12.5-12 0-.3-3.2-4-7.2-8.1-14.3-15-20.7-21.6-24.7-25.5l-4.1-3.9V20zM46 47.1c-1.9.6-4.5 1.2-5.6 1.3-1.2.2-3 .9-4.1 1.5-1.1.5-2.2.9-2.4.6-.2-.2-.2 2.5-.1 6.1l.4 6.4H25v16h8.9l.4 20.2c.2 11.2.5 21.2.8 22.2.2 1.1 1.9 3.4 3.8 5.2 4 3.9 9.9 5 19.4 3.8 3.4-.5 6.8-.8 7.4-.7.7 0 1-.3.7-.8-.4-.8 1.5-1.3 3.7-1.1.3.1.2-2-.4-4.6-.5-2.6-1-5.8-1.2-7.2-.1-2-.7-2.5-2.9-2.5-1.5-.1-3 .3-3.2.7-.8 1.2-6.4 1-6.4-.3 0-.5-.4-.8-.9-.5-1.8 1.1-2.4-3.2-2.9-18.7L51.8 79H68V63H52v-8.5c0-9.2.2-9-6-7.4zm55.3 14.7c-2.1.2-4.6 1.7-7.1 4.1l-4 3.9-.9-3.2c-.9-3.1-.9-3.1-8.1-3.4l-7.2-.3v66l9.3.3 9.2.3-.3-21.2c-.2-17.8 0-21.7 1.3-24.3 2.1-4 5.6-5.3 12.8-4.7 6.1.5 6.3.3 5.8-5.5-.1-.9.3-3.6.9-5.9.7-2.6.8-4.5.2-5.1-1-1-6.8-1.5-11.9-1zm107.2-.2c-1.1.3-2.6.7-3.3.9-.7.3-1.6.6-2 .7-.4.1-2.4 1.9-4.5 4-2.9 2.9-3.9 3.4-4.4 2.2-.3-.8-.3-1.8 0-2.1.4-.3.2-1.4-.4-2.4-.8-1.6-2.2-1.9-8.4-1.9H178v66h19v-22.3c0-19.5.3-22.5 1.8-24.3 2.2-2.8 7.4-5.4 10.7-5.4 3 0 8.7 5.3 8.4 7.9-.1.9-.1 11.2 0 22.8l.1 21.3h18v-25.8c0-16.7-.4-27.1-1.2-29.7-.6-2.2-1-4.4-.9-5 .1-.5 0-.7-.4-.4-.3.4-1.9-.5-3.4-2-1.6-1.4-3.5-3.1-4.2-3.6-1.5-1.1-14-1.7-17.4-.9zm50.5 0c-1.4.3-3.2.8-4 1.1-.8.3-1.7.6-2 .6-.3 0-2.2 1.7-4.2 3.8-2.1 2.2-3.6 3.9-3.3 3.9.3 0 .1 1-.6 2.1-1.5 3-1.4 12.8.2 16.4.8 1.6 2.2 3.9 3.1 4.9 1 1.1 1.8 2.4 1.8 2.8 0 .5.5.6 1 .3.6-.3 1-.3 1 .2 0 .9 3.4 2.5 11.1 5.3 9.8 3.6 12.2 6.3 9.5 10.5-1.5 2.3-2.3 2.5-8.7 2.5-5 0-6.8-.3-6.3-1.2.4-.6.3-.8-.4-.4-.6.3-3.2-.2-5.9-1.3-4.5-1.7-4.9-1.8-5-.3-.1 1-1.1 3.9-2.3 6.6l-2.1 5 2.2 2c1.2 1.2 1.8 1.4 1.4.6-.6-1.2-.5-1.3.6-.3.7.7 2.1 1.3 3.2 1.3 1 0 1.6.3 1.4.7-1.4 2.3 23 2.3 29.3 0 2.5-.9 4.2-1.6 3.8-1.7-.4 0 .5-1.3 2-2.8 1.5-1.5 3-2.6 3.5-2.4.4.2.6 0 .5-.5-.1-.4.4-2.9 1.1-5.6 1.2-4.2 1.1-8-.3-14.2-.2-1.1-.5-2.4-.5-2.9-.1-.5-.4-.6-.8-.3-.3.4-1.3-.2-2-1.3-1.7-2.5-8.7-7-10.7-7-.7 0-1.9-.7-2.6-1.5-.7-.8-1.6-1.3-2-1-.5.3-2.8-.5-5.2-1.8-3.6-1.9-4.3-2.7-4.3-5.2 0-4 4.3-5.3 12.3-3.6 12.4 2.6 11.9 2.7 12.7-1.1.3-1.8 1.1-4.6 1.7-6.1 1-2.5.8-3-1.3-4.5-1.3-.9-2.8-1.6-3.2-1.4-.4.1-1.8-.3-2.9-.9-2.3-1.2-18.3-2.1-22.8-1.3zm72.1 2c-1.9 1.3-3.8 2.1-4.3 1.8-.4-.3-.8.1-.8.9 0 .7-1.1 2-2.5 2.7-1.3.7-2.2 1.7-1.9 2.2.3.4 0 .8-.6.8-.7 0-1-1.6-.8-4.3l.3-4.2-6.6-.3-6.6-.3-1.2 4.8c-.7 2.6-1.7 6.8-2.2 9.3-.6 2.5-1.4 6.3-1.9 8.5s-1.6 7.8-2.5 12.5c-.9 4.7-2.1 10.3-2.7 12.5-.6 2.2-1.2 4.9-1.3 6-.3 2.1-1.2 6.4-4.5 21-1.2 5-2.3 11.1-2.7 13.7l-.6 4.8h8.7c8.4 0 8.6-.1 8.6-2.4 0-1.2.4-3.6.9-5.2.8-2.8 2.3-9.4 3.6-16.1.6-3.1.7-3.1 4.3-2.1 5.4 1.5 14.9.2 21-2.9 2.8-1.4 5.2-3 5.2-3.5s.5-.6 1.2-.2c.6.4.8.3.5-.3-.7-1.1 2.7-4.3 4.5-4.3.6 0 .8-.3.5-.6-.4-.4.2-1.9 1.2-3.3 2.2-3.2 6.5-14 8.1-20.1 1-3.9.9-21.4-.1-25.6-.1-.5-1.9-2.6-3.9-4.5-3.5-3.3-4-3.5-10.6-3.6-5.7 0-7.6.4-10.3 2.3zm6.2 14.2c1.3 1.2 1.7 3.1 1.7 9.4 0 5.7-.3 7.7-1.2 7.2-.6-.4-.8-.3-.5.3.9 1.4-1.2 8.3-2.4 8.3-.6 0-.7.4-.4 1 .3.5-.5 2.1-1.9 3.5s-2.2 2.5-1.9 2.5c.3 0-.2.9-1.2 2s-2 1.8-2.3 1.5c-.3-.2-1 .3-1.7 1.2-1.3 1.8-9.9 2.3-11.5.7-1.1-1.1 4.2-25.7 6-27.9.7-.8.9-1.5.4-1.5s-.1-.7.9-1.4c1-.8 1.9-1.8 2-2.3.1-.4.5-.7 1-.6.4.2.6-.3.5-.9-.4-1.6 8.1-6 9.6-5.1.6.3 1.9 1.3 2.9 2.1zM383.8 64c-2.9 1.3-6.2 3.1-7.3 4-2.6 2-12 11.4-11.7 11.7.8 1 0 2.3-1 1.7-.7-.4-1-.4-.6.1.4.4.1 2.4-.7 4.4-2.9 7.4-3.8 12.9-4 22.6-.1 7.2.3 10.6 1.3 12.2.8 1.3 1.1 2.3.8 2.3-.4 0 .6 1.2 2.1 2.6 1.5 1.5 2.7 2.9 2.6 3.3-.2.9 3.9 1.5 10.2 1.5 6.3 0 10.5-.6 10-1.5-.5-.7 4.5-3.4 5.8-3.1.4.1.6-.4.5-1-.2-.7.3-1.2 1-1 .8.1 1.1-.1.8-.6-.3-.5.4-1.6 1.5-2.5 2.1-1.8 2-2 2.4 4.8.2 3.8 1.4 4.5 7.6 4.5h5.9v-7.3c0-3.9.7-10.8 1.6-15.2.8-4.4 2-11 2.6-14.7.6-3.7 1.4-6.5 1.8-6.3.4.2.6-.4.6-1.3 0-5.1.5-8.3 1.2-7.9.4.3.7-.5.7-1.6.1-1.2.4-4.5.8-7.2.6-4.4.5-5.1-1-5.2-1-.1-4.9-.6-8.8-1.3-10.6-1.7-20.5-1-26.7 2zm15.9 12.5c2.2.6 2.2.8.9 4-.8 1.8-1.2 3.6-.9 3.9.3.2-.1 2.2-.8 4.3-.7 2.1-1.2 4.2-1.1 4.7.2.4-.3 2.5-.9 4.5-.7 2-1.3 4.7-1.4 6 0 1.4-.6 2.6-1.3 2.9-.7.2-1 .7-.7 1.1.2.4-1.3 2.5-3.4 4.5-3 2.9-4.7 3.8-7.5 3.9-5.4.1-6.1-1.2-6.1-11.1 0-8.1 2-17.6 3.4-16.7.4.2.7-.5.8-1.5.2-1.9 7.3-10.4 8-9.6.3.2 1.6-.2 3.1-1 1.5-.7 3.4-1.2 4.2-1 .8.3 2.5.7 3.7 1.1zM126 63.5c-9.1 2.6-10.1 3.2-9.1 5.7.5 1.3 1.5 4.4 2.2 7.1 1 3.6 1.7 4.6 2.9 4.1 4.4-1.7 12.2-3.2 17.9-3.3 7.6-.1 10 1.6 10.8 8l.6 3.9-5.9.2c-3.3.1-7.5.3-9.4.5-1.9.2-4.5.5-5.7.6-1.2 0-1.9.5-1.7.9.3.4-.3.8-1.3.8-3.6 0-12.3 5.6-12.3 7.9 0 .6-.4 1.1-.8 1.1-.9 0-1.3 2.3-1.5 9.2-.1 6.6.5 9.2 2.6 11.6.9 1 1.7 2.3 1.7 2.8 0 .9 10.9 6.1 12.1 5.7.3-.1 3.5-.3 7.2-.4 3.6-.1 6.4-.6 6.1-1.1-.5-.8 1.9-1.3 4.1-.8.6.1.7-.1.3-.5-.3-.4.8-1.9 2.5-3.5l3.1-2.8 1.3 3.6c.6 2 .9 4 .7 4.4-.3.5 3.2.8 7.9.7 9-.2 8.9-.1 6.8-5.3-.8-2-1.1-9.9-1-25.5.2-23.8-.1-26-4.6-30.8-4.8-5.2-8.7-6.3-21.3-6.2-6.4.1-13.7.7-16.2 1.4zm24 41.1c0 5.5-4.6 9.4-11.1 9.4-3.8 0-4.9-.4-4.9-1.6 0-.8-.4-1.3-.8-1-1.9 1.1-1.1-5.2.9-7 1.2-1 2.2-1.8 2.3-1.6.1.3.7.1 4.6-1.1.8-.3 3.2-.6 5.3-.6 3.6-.1 3.7 0 3.7 3.5z"></path> <path d="M488.8 73c.5 3.8 1.9 3.9 2.5.2l.4-2.7.2 2.7c.1 2.3.6 2.8 2.6 2.8 2.1 0 2.5-.5 2.5-3 0-2.9-.2-3-4.3-3-4.3 0-4.3.1-3.9 3z"></path></svg>
            </i>
          </div>
        </div>

        <div class="column">
          <div>
            <i class="huge custom icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="71" height="32" viewBox="0 0 71 32"><g fill="none"><path fill="#FFF" d="M29.032 17.55c-.011-.19 0-.38-.034-.571-.18-1.355-.988-2.207-2.223-2.341a4.1 4.1 0 0 0-2.279.392c-2.402 1.176-2.829 4.38-1.92 6.25.349.727 2.089 1.668 3.84.985 2.055-.784 2.616-2.632 2.616-4.715m-7.69 5.488c-.45 2.755-.876 5.42-1.314 8.097h-2.604c.202-1.254.393-2.464.595-3.685.64-3.987 1.29-7.974 1.93-11.96 0-.023.012-.034.012-.057.112-.974-.079-1.22-1.078-1.377.09-.56.169-1.12.28-1.67.012-.078.158-.178.259-.178.516-.045 1.044-.124 1.56-.068 1.112.135 1.64.83 1.55 1.95-.011.1-.011.19-.034.425.797-1.232 1.841-1.904 3.132-2.251 2.01-.55 4.064.022 5.21 1.444.65.807.976 1.748 1.066 2.733.247 2.755-.438 5.174-2.481 7.022-1.594 1.445-3.536 1.86-5.714 1.31-.988-.234-1.718-.85-2.37-1.735m22.185-8.154c-.416-.145-.708-.257-1.01-.336-2.314-.582-4.447.09-5.524 1.792-.775 1.21-1.044 2.565-.854 4.01.191 1.422 1.078 2.184 2.493 2.128 1.93-.079 3.233-1.143 3.828-2.856.516-1.5.719-3.125 1.067-4.738m2.66 8.042c-.078.526-.146 1.041-.258 1.545-.034.146-.202.348-.337.359-.539.045-1.089.078-1.616 0-.786-.123-1.235-.65-1.336-1.445-.045-.291-.034-.594-.045-.784-.584.504-1.168 1.131-1.864 1.59-1.224.796-2.627.997-4.098.661-1.75-.392-2.975-1.758-3.3-3.763-.528-3.26.92-7 4.39-8.355 2.772-1.086 5.568-.795 8.374.347.337.135.292.359.247.594-.404 2.464-.82 4.939-1.223 7.403-.045.269-.09.549-.101.817-.056.717.168.952.887.997.1.011.18.023.28.034M5.299 9.34H.034c.146-.906.28-1.757.426-2.63h13.483c-.123.739-.269 1.467-.348 2.195-.044.347-.18.448-.527.448-1.415-.023-2.83-.011-4.255-.011h-.561c-.842 5.151-1.684 10.27-2.526 15.41H2.773c.842-5.118 1.673-10.225 2.526-15.41m52.181 4.994c-.83-.068-1.616-.124-2.492-.19.101-.617.19-1.2.292-1.826h2.537c.258-1.11.45-1.647.674-2.722.09-.437.247-.638.74-.605.607.045 1.224.012 1.898.012-.202 1.299-.326 2.004-.539 3.292h4.311c-.09.627-.157 1.21-.28 1.77-.023.112-.293.235-.46.235a89.55 89.55 0 0 1-3.47 0c-.337 0-.483.078-.528.437-.28 1.915-.64 3.808-.875 5.734-.191 1.557.617 2.33 2.178 2.218.673-.045 1.324-.224 2.032-.348-.012.605-.012 1.232-.034 1.848 0 .09-.112.213-.202.236-1.325.358-2.66.638-4.064.37-1.841-.348-2.897-1.67-2.706-3.596.191-1.96.55-3.897.842-5.846.045-.314.101-.65.146-1.02m-3.705 8.12c-.09.706-.157 1.344-.258 1.972-.022.112-.18.257-.28.257-.899.034-1.82.146-2.706.023-1.212-.157-1.886-.952-1.987-2.218a10.105 10.105 0 0 1 .1-2.33c.753-4.737 1.393-8.478 2.179-13.204 0-.034.034-.056.056-.112h2.762c-.18 1.086-.348 2.15-.528 3.214-.617 3.741-1.078 6.496-1.695 10.248a4.505 4.505 0 0 0-.045.672c.022 1.254.573 1.725 1.807 1.557.158-.023.337-.045.595-.079m-41.538 2.319c.18-1.098.348-2.128.516-3.17.483-2.957.966-5.913 1.437-8.881.057-.314.158-.437.483-.426.786.023 1.56.011 2.414.011-.213 1.288-.404 2.51-.606 3.73-.45 2.777-.91 5.544-1.348 8.321-.056.325-.157.437-.482.426-.797-.022-1.572-.011-2.414-.011m57.66-12.466c-.27 1.636-.517 3.181-.764 4.727-.392 2.452-.808 4.894-1.19 7.347-.044.302-.157.403-.46.392-.786-.023-1.572-.011-2.425-.011.146-.952.292-1.848.438-2.744.505-3.092 1.022-6.194 1.504-9.285.057-.347.18-.46.528-.448.763.045 1.527.022 2.369.022"></path> <path fill="#F04E37" d="M69.268 5.163a4.594 4.594 0 0 0-.471-.392 6.661 6.661 0 0 0-.618-.437c-.213-.134-.471-.28-.74-.425l-.281-.157c-.259-.135-.517-.258-.798-.392-.134-.067-.28-.134-.426-.202-.303-.134-.618-.257-.954-.392-.169-.067-.326-.134-.506-.201A35.713 35.713 0 0 0 60.96 1.49C58.378.806 55.325.347 52.114.157A72.049 72.049 0 0 0 48.7.067c-.516 0-1.044.011-1.572.023L45.86.146 44.03.28c-.64.056-1.291.112-1.965.19-.853.09-1.695.19-2.526.325-.752.101-1.55.235-2.492.415-1.55.268-3.031.616-4.783 1.052-1.246.336-2.863.796-4.367 1.322-1.268.437-2.56.918-3.817 1.433-2.38.986-4.266 1.95-5.501 2.576-.528.27-.965.504-1.291.672l-.741.392a.474.474 0 0 0 .438.84l.74-.358c.338-.157.775-.38 1.314-.627a65.498 65.498 0 0 1 2.38-1.042 62.327 62.327 0 0 1 3.155-1.198C25.71 5.88 27 5.443 28.381 5.107c1.493-.403 3.098-.728 4.322-.963a61.278 61.278 0 0 1 4.693-.65c.92-.1 1.695-.156 2.425-.201a51.44 51.44 0 0 1 2.436-.123c.629-.034 1.291-.034 1.93-.045l1.169.01 1.785.023a45.14 45.14 0 0 1 4.636.381c1.213.19 2.796.448 4.233.829 1.156.313 2.492.694 3.626 1.165 1.111.425 2.054.918 2.829 1.332.876.504 1.56.952 1.965 1.244l1.178.873c.326.235.517.336.528.347.382.213.82.314 1.269.314.707 0 1.38-.28 1.874-.773a2.615 2.615 0 0 0 .775-1.859 2.62 2.62 0 0 0-.786-1.848"></path></g></svg>
            </i>
          </div>
        </div>

        <div class="column">
          <div>
            <i class="huge custom icon">
              <svg width="80" height="55" viewBox="0 0 127 70"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  <path id="b-currencycloud" d="M47.053 34.231v7.96c-11.688 0-21.163-9.444-21.163-21.095h7.986c0 7.254 5.9 13.135 13.177 13.135zm55.55-13.135h-7.986c0-7.255-5.9-13.135-13.177-13.135V0c11.688 0 21.163 9.445 21.163 21.096zm-34.39 0c0 7.254 5.9 13.135 13.177 13.135v7.96c-11.687 0-21.162-9.444-21.162-21.095h.002c0-7.255-5.9-13.135-13.177-13.135V0C58.74 0 68.216 9.445 68.216 21.096h-.003z"></path>
                  <filter id="a-currencycloud" x="-1.3%" y="-2.4%" width="102.6%" height="109.5%" filterUnits="objectBoundingBox">
                    <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" in="shadowOffsetOuter1"></feColorMatrix>
                  </filter>
                  <path id="d-currencycloud" d="M30.81 55.768l-.194 2.829c-1.837 0-3.126.87-3.126 2.157v5.076h-3.002v-9.88h2.896l.053 1.196c.777-.87 1.943-1.378 3.373-1.378zm7.37 0l-.195 2.829c-1.836 0-3.126.87-3.126 2.157v5.076h-3.002v-9.88h2.897l.052 1.196c.777-.87 1.943-1.378 3.374-1.378zm88.395 10.062h-2.878l-.053-1.215c-.654.889-1.625 1.396-2.932 1.396-2.543 0-4.591-2.012-4.591-5.076 0-3.082 2.048-5.167 4.591-5.167 1.254 0 2.208.49 2.861 1.324v-5.403h3.002V65.83zm-3.002-4.95c0-1.468-.865-2.483-2.172-2.483-1.307 0-2.172 1.015-2.172 2.502 0 1.468.865 2.466 2.172 2.466 1.307 0 2.172-.98 2.172-2.484zM47.98 61.969h-6.605c.177 1.016.706 1.632 1.855 1.632.812 0 1.483-.344 1.942-.906l2.331 1.16c-.83 1.287-2.366 2.157-4.238 2.157-3.038 0-5.068-1.994-5.068-5.021 0-3.119 1.96-5.222 4.927-5.222 2.949 0 4.927 1.976 4.927 4.968 0 .417-.035.888-.071 1.232zm-6.605-2.066h3.532c-.194-1.106-.777-1.723-1.783-1.723-.99 0-1.537.617-1.749 1.723zm43.85-1.505c-1.36 0-2.242.997-2.242 2.484 0 1.486.865 2.484 2.242 2.484.83 0 1.466-.236 1.944-.798l1.695 2.048c-.936.943-2.278 1.396-3.762 1.396-3.144 0-5.245-2.048-5.245-5.13 0-3.064 2.12-5.113 5.316-5.113 1.289 0 2.472.453 3.373 1.179l-1.696 2.085a2.266 2.266 0 0 0-1.625-.635zm-20.182 0c-1.36 0-2.242.997-2.242 2.484 0 1.486.865 2.484 2.242 2.484.83 0 1.466-.236 1.943-.798l1.695 2.048c-.936.943-2.277 1.396-3.761 1.396-3.144 0-5.245-2.048-5.245-5.13 0-3.064 2.119-5.113 5.315-5.113 1.29 0 2.473.453 3.374 1.179l-1.696 2.085a2.265 2.265 0 0 0-1.625-.635zm25.015 7.433V51.69h3.002v14.14h-3.002zm-11.309-1.034c0 3.137-2.19 5.204-5.51 5.204-1.52 0-2.861-.417-3.815-1.215l.654-2.411c.971.743 1.978.997 3.09.997 1.52 0 2.543-.997 2.579-2.501-.707.779-1.678 1.141-2.667 1.141-2.137 0-3.567-1.54-3.567-3.88V55.95h3.002v5.728c0 1.016.636 1.687 1.624 1.687.972 0 1.608-.671 1.608-1.687V55.95h3.002v8.846zm15.4-3.915c0-3.064 2.12-5.113 5.299-5.113 3.125 0 5.244 2.049 5.244 5.113 0 3.082-2.119 5.13-5.244 5.13-3.18 0-5.299-2.048-5.299-5.13zm7.435 0c0-1.487-.865-2.484-2.154-2.484-1.307 0-2.172.997-2.172 2.484 0 1.486.865 2.484 2.172 2.484 1.289 0 2.154-.998 2.154-2.484zm13.417-4.931v6.272c0 2.267-1.854 3.79-4.626 3.79-2.773 0-4.628-1.723-4.628-4.334V55.95h3.003v5.728c0 1.016.653 1.687 1.625 1.687.97 0 1.624-.671 1.624-1.687V55.95h3.002zm-91.719 0v6.272c0 2.267-1.854 3.79-4.627 3.79-2.773 0-4.627-1.723-4.627-4.334V55.95h3.002v5.728c0 1.016.654 1.687 1.625 1.687s1.625-.671 1.625-1.687V55.95h3.002zm35.341 3.68v6.2h-3.001v-5.729c0-1.033-.725-1.704-1.82-1.704-1.112 0-1.836.67-1.836 1.704v5.73h-3.003V55.95h2.897l.035 1.105c.76-.87 1.836-1.287 2.967-1.287 2.26 0 3.761 1.541 3.761 3.862zm-47.766 1.298l2.243 1.969a7.27 7.27 0 0 1-5.843 2.922C3.249 65.82 0 62.606 0 58.643c0-3.964 3.249-7.177 7.257-7.177a7.27 7.27 0 0 1 5.87 2.96L10.91 56.44a4.286 4.286 0 0 0-3.654-2.03c-2.364 0-4.28 1.895-4.28 4.233 0 2.337 1.916 4.232 4.28 4.232 1.511 0 2.84-.776 3.6-1.947zm113.499-11.843h-.483v1.566h-.189v-1.566h-.488v-.18h1.227l-.067.18zm1.665 1.566V49.39v-.042a.5.5 0 0 1 .002-.041l.002-.044.004-.058h-.005a.824.824 0 0 1-.085.172l-.458.756h-.124l-.483-.756a.974.974 0 0 1-.087-.172h-.005l.005.058.004.044v1.345h-.187v-1.747h.193l.537.832a1.71 1.71 0 0 1 .086.154h.002a.988.988 0 0 1 .08-.154l.512-.832h.196v1.747h-.189z"></path>
                  <filter id="c-currencycloud" x="-.8%" y="-4.7%" width="101.6%" height="119%" filterUnits="objectBoundingBox">
                    <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" in="shadowOffsetOuter1"></feColorMatrix>
                  </filter>
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <use fill="#000" filter="url(#a-currencycloud)"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#b-currencycloud"></use>
                  <use fill="#FFF"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#b-currencycloud"></use>
                  <g>
                    <use fill="#000" filter="url(#c-currencycloud)"
                      xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#d-currencycloud"></use>
                    <use fill="#FFF"
                      xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#d-currencycloud"></use>
                  </g>
                </g>
              </svg>
            </i>
          </div>
        </div>

        <div class="column">
          <div>
            <i class="huge custom icon">
              <svg version="1" xmlns="http://www.w3.org/2000/svg" width="100" height="45" viewBox="0 0 515 193" fill="#f79d37"><path d="M86.1 8.1c-32.6 4.3-61 26.5-72.9 56.9-4.7 12.1-5.6 17.8-5.6 33.5.1 13.3.4 16 2.8 24 9.4 31.2 31.6 53.1 63.6 62.7 9.6 2.9 30.1 3.6 41.1 1.4 36.2-7.4 64.1-35.2 71.4-71.5 2.1-10.2 1.6-30.3-.9-39.5-4.2-15.3-13-30.7-23.5-41.4-19-19.3-49.1-29.6-76-26.1zm-5.5 37.5c2.4 1.2 4.9 4.1 9.3 11.4 11.9 19.4 25.3 27 47.1 27 10.6 0 14.9 1.5 18.4 6.3 2.9 4 2.8 11.2-.1 15.3-3.6 5-7.7 6.4-19 6.4-21.1 0-35.2 8.1-46.4 26.7-2.7 4.5-6.1 9.1-7.5 10.2-5.7 4.5-13.1 3.5-18.4-2.5-4.6-5.3-4.2-10.6 1.4-20.3 5.7-9.9 7.7-15.9 8.3-25.1.8-10.4-1-17.5-7.3-29.6-5.9-11.2-6.5-14.8-3.6-20.3 3.4-6.3 11-8.7 17.8-5.5zM265.3 43c-26.7 7-43.4 30-42 58 2 41.5 44.7 66 82.5 47.4 13-6.4 23.1-18.2 28.3-33.4 2.9-8.5 3.1-23.7.5-32.5-8.8-29.8-39.5-47.3-69.3-39.5zm28.5 24c7 3 15.4 12.1 17.8 19.2 2.8 8 2.4 17.9-.8 25-3.5 7.5-9.8 14.1-16.7 17.5-4.8 2.4-6.8 2.8-14.1 2.8-7.1 0-9.4-.4-14.3-2.7-7.7-3.6-15-11.2-17.7-18.5-2.9-7.8-2.5-20.6.9-27.2 4.3-8.4 13.7-15.9 22.6-18.2 5.4-1.4 16.6-.4 22.3 2.1zm57.6-22.6l-3.4 3.4v33.4l2.9 2.8c1.6 1.6 4 3.2 5.5 3.6 3.8.9 7.4-.3 10.7-3.6 2.6-2.5 2.9-3.5 2.9-9.3 0-4.7.5-7.1 1.8-8.6 1.7-2.1 2.2-2.1 27.6-1.9l26 .3 9.3 13c10.1 14.2 12.1 18.7 10.3 24-.6 1.8-6.5 11.1-13 20.6-10.8 15.5-12 17.7-12 21.5 0 3.4.6 5.1 2.9 7.6 2.6 2.9 3.5 3.3 8 3.3 6.3 0 7.5-1.2 19.6-18.5 4.8-6.9 9.3-12.9 10.2-13.3 3.4-2 6 .4 15.6 14.3 5.4 7.7 11 14.8 12.4 15.8 1.6.9 4.6 1.7 7.1 1.7 3.7 0 4.8-.5 7.3-3.3 2.3-2.6 2.9-4.2 2.9-7.8 0-4.2-.9-5.8-11.4-20.7C481 103.2 481 103.3 481 97.6c0-4.8 0-4.8 19.9-33.5 4.3-6.4 5.1-8.1 5.1-12-.1-6.8-4.4-11.1-11.1-11.1-5.3 0-8 2.7-19 18.4-9.9 14.3-12.3 16.3-15.8 13.1-1.1-.9-6.3-7.8-11.6-15.4-5.4-7.8-10.7-14.3-12.1-15-1.7-.8-14.6-1.1-42-1.1h-39.6l-3.4 3.4z"></path> <path d="M395.3 87.1C369 91.5 348.1 115.3 348 141c0 7.3 1.3 10.1 6 12.5 8.3 4.3 17-2 17-12.4 0-7.2 3.7-15 10.4-21.7 6.7-6.7 11.8-9 22.1-10.1 5-.5 6.6-1.2 9.3-3.9 5.7-5.7 4-14.9-3.4-18-3.7-1.5-6.3-1.6-14.1-.3z"></path></svg>
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-copyright">© 2018 goLance</div>
