<div class="gl main menu" data-element="main-nav">
  <div>
    <div class="left side">
      <a class="logo item" href="/">
        <i class="gl icon custom blue logo">
          <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 526.4 121.3" style="enable-background:new 0 0 526.4 121.3;" xml:space="preserve">
            <path fill="#4f4f52" d="M5.2,49.9c0.3-2.2,0.5-4.3,1-6.5C8,34.2,12,26.2,20.1,20.7c7.2-4.9,15.1-6.2,23.4-3.9c5.1,1.4,9,4.6,11.6,9.2            c0.2,0.4,0.4,0.7,0.9,1c0.2-1.6,0.3-3.2,0.5-4.8c0.1-1.3,0.2-2.6,0.3-3.9c0-0.6,0.2-0.9,0.9-0.9c4-0.1,7.9-0.2,11.9-0.3            c0.2,0,0.5,0,0.8,0.1c-0.2,2.7-0.3,5.3-0.5,7.9c-0.1,3-0.3,6-0.3,9c0,15.3,0,30.5,0,45.8c0,5.9-0.4,11.7-2,17.4            c-3.4,12.2-11.4,19.3-23.7,21.5c-2.6,0.5-5.3,0.5-8,0.8c-0.3,0-0.5,0.1-0.8,0.2c-0.6,0-1.1,0-1.7,0c-0.4-0.1-0.8-0.2-1.3-0.2            c-6.4-0.2-12.6-1.1-18.4-3.8c-2.4-1.1-2.3-1.1-1.6-3.6c0.9-3.1,1.8-6.3,2.7-9.5c0.4,0.2,0.7,0.3,1,0.5c6.1,3.1,12.6,4.7,19.5,4.6            c9.2-0.2,15.8-5.3,18.1-14.2c1.3-4.9,0.9-9.9,0.9-14.9c0,0-0.1-0.1-0.2-0.2c-0.2,0.3-0.4,0.7-0.7,0.9c-1.8,1.8-3.3,3.9-5.3,5.3            c-8.5,6.1-21.2,5.6-29.8-0.9C11.4,78.6,7.9,71.4,6.1,63.1c-0.4-2.1-0.7-4.2-1-6.2C5.2,54.6,5.2,52.3,5.2,49.9z M54.1,52.1            c0.1,0,0.2,0,0.2,0c0-2.5,0.1-5,0-7.6c-0.1-1.8-0.3-3.6-0.7-5.3c-2.2-8.3-9.7-13-17.8-11.3c-5.5,1.1-9.1,4.8-11.5,9.7            C21.7,43,21,48.8,21.3,54.8c0.2,4.8,1.1,9.4,3.4,13.6c3.4,6.3,9.8,9.7,16.5,8.6c7.2-1.2,12.2-6.5,12.9-14.2            C54.4,59.2,54.1,55.6,54.1,52.1z"></path>
            <path fill="#4f4f52" d="M88.7,11.1c1.9,2,3.7,3.9,5.7,6c1.3-1.1,2.5-2.1,3.8-3c0.8-0.6,1.6-1.1,2.5-1.4c1.1-0.4,2.3,0.3,2.6,1.1            c0.5,1.2,0.2,2.6-0.9,3.3C95,21.5,89.8,27.9,86.4,35.8c-8.6,20.1-0.2,43.7,19.3,54.2c18.4,10,41.1,5.1,53.9-11.6            c0.6-0.8,1-1.6,1.6-2.4c0.9-1.5,2.3-1.8,3.5-0.9c1.4,1,1.6,2.4,0.5,3.8c-1.3,1.6-2.5,3.3-3.8,4.9c2,1.9,3.9,3.8,5.9,5.8            c-0.9,1.5-1.7,2.9-2.6,4.3c-2-2-3.9-3.9-5.8-5.8c-17.2,16.6-47.3,16.4-65.5-1.2c-18.2-17.6-19.8-48.1-2.6-66.5c-1.9-1.9-3.8-3.8-6-6            c1.3-1.2,2.5-2.2,3.7-3.3C88.5,11.1,88.6,11.1,88.7,11.1z"></path>
            <path fill="#0d6e9d" d="M312.9,44.3c4,0,8,0,12.1,0c0.9,0,0.7,0.7,0.8,1.2c0.3,3.1,0.5,6.1,0.8,9.5c0.4-0.4,0.6-0.6,0.7-0.9            c4.5-7.2,11.2-10.8,19.6-11.4c6.5-0.5,12.4,1.1,17.3,5.5c4.3,3.8,6.7,8.9,7.7,14.4c0.6,3.2,0.9,6.5,0.9,9.8c0.1,14.2,0,28.5,0,42.7            c0,0.4,0,0.7-0.1,1.1c-5.1,0-10.1,0-15.2,0c0-0.5,0-1,0-1.5c0-13.8,0.1-27.6-0.1-41.4c0-2.9-0.5-5.8-1.3-8.6            c-2.9-9.9-12.3-11-18.5-8.1c-6.5,3.1-9.4,8.7-9.5,15.7c-0.1,14.1,0,28.2,0,42.4c0,0.5,0,1,0,1.5c-5.1,0-10,0-15.3,0            C312.9,92.3,312.9,68.4,312.9,44.3z"></path>
            <path fill="#0d6e9d" d="M509.8,83.1c-15.3,0-30.5,0-45.7,0c-0.1,11,5.4,20.1,17.1,21.8c7.5,1.1,14.9,0.3,22-2.6            c0.2-0.1,0.4-0.2,0.8-0.3c0.6,2.8,1.2,5.5,1.8,8.2c0.1,0.5,0.2,1,0.3,1.5c0.4,1.7,0.4,1.7-1.2,2.3c-4.7,1.9-9.6,2.8-14.7,3.2            c-6,0.5-11.9,0.5-17.7-1.2c-9.7-2.8-16.7-8.9-20.3-18.4c-5.1-13.8-4.4-27.4,2.9-40.2c9.1-16.2,27.1-17.9,38.4-12.8            c6.8,3,11,8.4,13.7,15.2c2.8,7.1,3.3,14.4,2.8,21.9C510.1,82.1,509.9,82.6,509.8,83.1z M495.8,72.5c0.2-2.6-0.6-7.2-1.7-10.2            c-4.1-11-17.6-11.5-24-4.4c-2.5,2.8-4.1,6-5.1,9.5c-0.5,1.6-0.7,3.3-1.1,5.1C474.7,72.5,485.2,72.5,495.8,72.5z"></path>
            <path fill="#0d6e9d" d="M279,69.4c0-2.9-0.1-5.8-1.2-8.5c-1.9-4.7-5.8-6.6-10.5-7.1c-7-0.7-13.6,1-19.7,4.3c-0.2,0.1-0.5,0.3-0.7,0.4            c0,0-0.1,0-0.2,0c-0.8-2.6-1.5-5.2-2.3-7.8c-0.7-2.3-0.7-2.3,1.5-3.4c5.8-3,12.1-4.3,18.6-4.6c5-0.2,9.8,0.1,14.5,1.9            c7.5,2.9,11.8,8.6,13.6,16.2c0.8,3.4,1.2,6.9,1.3,10.4c0.2,8.6-0.1,17.1,0.1,25.7c0.1,6.1,0.7,12.2,1.1,18.3c0,0.3,0,0.6,0,1            c-4.6,0-9.1,0-13.8,0c-0.3-2.8-0.6-5.5-0.9-8.6c-0.5,0.5-0.8,0.8-1.1,1.2c-6.9,7.7-15.5,10.2-25.4,8c-7.6-1.7-12.4-6.8-14.3-14.3            c-2.1-8.7-0.5-16.6,6.1-23.1c3.6-3.5,8-5.6,12.8-7.1c6.1-1.9,12.3-2.6,18.7-2.7c0.6,0,1.1,0,1.7,0C278.7,69.6,278.7,69.5,279,69.4z            M279.2,80.2c-1.5,0-2.6,0-3.8,0c-4.9,0.2-9.7,0.8-14.2,2.9c-5.5,2.6-8.3,7.2-7.8,13.3c0.4,5.3,3.3,8.9,7.9,9.9            c7.6,1.6,15.8-3.3,17.2-10.9C279.3,90.4,279,85.3,279.2,80.2z"></path>
            <path fill="#4f4f52" d="M125.6,15.3c20.2,0,36.5,16.3,36.6,36.5c0.1,20.2-16.4,36.7-36.8,36.7c-20.1,0-36.4-16.5-36.4-36.8            C88.9,31.6,105.3,15.3,125.6,15.3z M125.5,27.6c-13.3,0-24,10.7-24,23.9c0,13.2,10.8,24,24,24c12.9,0,23.9-10.9,23.9-23.7            C149.4,38.3,138.8,27.6,125.5,27.6z"></path>
            <path fill="#0d6e9d" d="M176.8,16.2c5,0,10,0,15,0c0,28.9,0,57.9,0,86.9c13,0,25.8,0,38.7,0c0,4.4,0,8.7,0,13.1c-17.9,0-35.8,0-53.7,0            C176.8,82.9,176.8,49.6,176.8,16.2z"></path>
            <path fill="#0d6e9d" d="M437.9,102.7c0.7,3.7,1.4,7.3,2.1,11c-2.7,1.4-5.6,2.2-8.5,2.8c-7,1.4-14,1.6-20.9-0.5            c-9.8-2.9-16.9-9.1-20.5-18.6c-4.7-12.4-4.4-24.7,1.8-36.5c5.3-10.1,14-15.7,25.2-17.6c7.1-1.2,14.1-0.8,20.9,1.6            c0.8,0.3,1.6,0.7,2.5,1.1c-1,4-1.9,7.8-2.9,11.7c-2.2-0.7-4.3-1.5-6.4-2c-4.1-1-8.2-1.1-12.2-0.1c-6.1,1.5-10.5,5.1-13.1,10.7            c-4.2,9.1-4.5,18.5-0.4,27.6c3.6,7.8,10,11.6,18.6,11.8C428.8,105.8,433.4,104.9,437.9,102.7z"></path>
            <path fill="#0d6e9d" d="M156.2,116.2c-20.4,0-40.6,0-60.9,0c-0.4-5.1,3.7-10.5,9-11.8c1.2-0.3,2.4-0.4,3.7-0.5c11.8,0,23.5,0,35.3,0            c6.5,0,11.9,4.5,12.9,10.9C156.1,115.3,156.1,115.7,156.2,116.2z"></path>
            <path fill="#4f4f52" d="M120.2,55.9c-1.5,0.1-3,0.2-4.4,0.2c-1.6,0-2.8-1-2.8-2.4c0-1.5,1.1-2.6,2.8-2.7c2.3,0,4.6,0,6.8,0            c0.5,0,1.1-0.2,1.5-0.6c3.5-3.4,7-6.8,10.6-10.1c0.6-0.5,1.4-1,2.1-1.1c1-0.2,1.9,0.2,2.3,1.1c0.4,1,0.4,2-0.4,2.8            c-4.2,4.1-8.5,8.2-12.8,12.3c-0.2,0.2-0.6,0.3-0.9,0.3C123.4,55.8,121.8,55.9,120.2,55.9C120.2,56,120.2,55.9,120.2,55.9z"></path>
          </svg>
        </i>
      </a>

      <form class="gl iconed search field item" data-element="search-box">
        <i class="gl icon clickable" data-element="search-icon">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ei-chevron-down-icon"></use>
          </svg>
        </i>

        <input placeholder="Find Freelancers" data-element="search-field">

        <div class="dropdown" data-element="search-dropdown">
          <div class="option" data-value="hire">Freelancers</div>
          <div class="option active" data-value="work">Jobs</div>
        </div>

        <button type="submit" hidden=""></button>
      </form>

      <a class="item" href="https://golance.com/how-it-works/employers">How It Works</a>
    </div>

    <div class="right side">
      <a class="item" href="https://golance.com/signup">Signup</a>
      <a class="item" href="https://golance.com/login">Login</a>
      <a class="item gl primary button" href="https://golance.com/how-it-works/freelancers">Become A Freelancer</a>
      <div class="mobile item" data-element="main-nav-menu">
        <div class="gl nav icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gl mobile nav" data-element="mobile-nav">
  <a class="item" href="https://golance.com/how-it-works">How It Works</a>
  <a class="item" href="https://golance.com/hire">goHire</a>
  <a class="item" href="https://golance.com/work">goWork</a>
  <a class="item" href="https://golance.com/login">Login</a>
  <a class="item" href="https://golance.com/signup">Signup</a>
  <a class="item gl primary button" href="https://golance.com/how-it-works/freelancers">Become A Freelancer</a>
</div>

<div class="gl nav icon" data-element="mobile-nav-close">
  <span></span>
  <span></span>
  <span></span>
</div>
