<div class="gl inverted fitted section">
  <div class="gl large container">
    <div class="gl main menu">
      <div class="left side">

      </div>

      {{navigation}}
    </div>
  </div>
</div>
