{{!< default}}

{{#post}}

<article class="gl post segment">
  {{#if feature_image}}
    <div class="gl fluid image">
      <img src="{{img_url feature_image}}" alt="{{title}}">
    </div>
  {{/if}}

  <h1 class="title">{{title}}</h1>
  <section>{{content}}</section>
</article>

{{/post}}
