$transition-filter-duration = .5s
$media-hide-nav = 1100px

body
  color $color-text
  background $color-pale
  font-family 'Nunito Sans', sans-serif

main
  padding-top 100px

  @media (max-width $media-medium)
    padding-top 30px

h1, h2, h3, h4, h5
  font-weight $font-extrabold
  margin 0

.title

  > a
    color $color-text

    &:hover
      color $color-primary

.gl.segment

  > .title
    margin-bottom $indent

  &.post

    img
    iframe
      display block
      max-width 100%

    > * + *
      margin-top $indent

    > .more
      margin-top ($indent / 2)

    > .image
      align-items center
      display flex
      margin-bottom $indent
      max-height 300px
      overflow hidden

      > img
        max-width 100%
        width 100%

    > .title

      ../ > h1.title
        font-size 1.8em

      ../ > h2.title
        font-size 1.4em

    &.preview

      img
        transition transform 2s

        &:hover
          transform scale(1.2)

    &.detail

      > footer
        align-items center
        display flex

        > .addthis_inline_share_toolbox
          margin-left auto

        @media (max-width $media-medium)
          flex-direction column

          > .addthis_inline_share_toolbox
            margin-left 0
            margin-top ($indent * 2)

  + .gl.segment
    margin-top $indent

.gl.list

  &.post
    list-style-type none

    > .item
      display flex

      > .image
        align-items center
        display flex
        flex 0 0 100px
        justify-content center
        margin-bottom $indent
        max-height 60px
        overflow hidden

        + .content
          margin-left $indent

      + .item
        border-top 1px solid $color-border
        padding-top $indent
        margin-top $indent

.gl.chunk

  &.date
    color $color-grey-darker
    font-size .9em
    line-height 1.2

  &.author
    align-items center
    display inline-flex

    > .title
      color $color-text
      margin-right ($indent / 2)

      > .logo
        border-radius 50%
        height 40px
        width @height

    > .content
      line-height 1.2

      > .name
        font-weight $font-semibold

        > a
          color $color-text

      > .date
        color $color-grey-darker
        font-size .9em

.gl.feed
  display flex

  > *
    margin ($indent / 2)

  > .content
    flex-grow 1

  > aside
    flex-shrink 0
    width 350px

  @media (max-width $media-large)
    flex-direction column

    > aside
      margin-top $indent
      width 100%

.gl.section

  &.head
    position relative

    > .container
      position static
      overflow auto

.gl.icon

  &.nav
    $top-first = 9px
    $top-second = 18px
    $height = 18px
    cursor pointer
    height $height
    position relative
    width 30px

    > span
      background $color-grey-darkest
      display block
      height 2px
      left 0
      opacity 1
      position absolute
      transform rotate(0deg)
      transform-origin left center
      transition left $transition-duration,
                 opacity $transition-duration,
                 top $transition-duration,
                 transform $transition-duration,
                 width $transition-duration
      width 100%

      &:nth-child(1)
        top 0

      &:nth-child(2)
        top $top-first

      &:nth-child(3)
        top $top-second

     &.open

       > span

        &:nth-child(1)
          transform rotate(45deg)
          top 0px

        &:nth-child(2)
          opacity 0
          width 0%

        &:nth-child(3)
          transform rotate(-45deg)
          top 21px

.gl.menu
  align-items center
  display flex
  justify-content center

  &.main
    background transparent
    font-size .9em
    height 60px
    left 0
    padding-left  1.4em
    padding-right @padding-left
    position fixed
    top 0
    transform translateY(-85px)
    transition background .5s, transform .5s
    width 100%
    z-index 11

    .gl.button
      border none
      font-size 1rem
      text-transform none
      font-weight $font-regular

    > div
      align-items stretch
      display flex
      font-weight 800
      height 100%
      justify-content space-between
      max-width 1300px
      width 100%

    .item
      align-items center
      display flex
      padding-right 1.5em
      text-decoration none
      white-space nowrap

      &:not(.logo)
        padding-left 1.5em

      &:not(.logo):not(.mobile)

        &:not(.button):not(.field)
          align-items center
          border-color transparent
          border-style solid
          border-width 2px
          color $color-text
          display flex
          height 100%
          padding-bottom $indent
          padding-top @padding-bottom

          &:hover
          &.active
            color $color-primary

        &.button
          margin-left $indent
          text-transform none

      &.field
        backface-visibility hidden
        box-shadow none
        padding 0
        position relative
        transition box-shadow $transition-duration

        > .icon
          transform-origin 50% 50%
          transition transform $transition-duration

        input
          font-size 1rem
          padding-bottom .65em
          padding-top @padding-bottom

          +placeholder()
            color $color-text

        > .dropdown
          background #fff
          left 50%
          opacity 0
          pointer-events none
          position absolute
          top 100%
          transform translate(-50%, -25%)
          transition transform $transition-duration,
                     opacity $transition-duration
          width 100%

          > .option
            background @background
            border none
            box-shadow $field-box-shadow
            cursor pointer
            padding .8em $indent
            text-transform none

            &:hover
            &.active
              color $color-primary

        &.opened

          > .icon
            transform rotate(180deg)

          > .dropdown
            opacity 1
            pointer-events all
            transform translate(-50%, 0)

      &.mobile:not(.logo):not(.button)
        $size = 3em
        align-items stretch
        cursor pointer
        display flex
        flex-direction column
        justify-content center
        padding 0
        z-index 1

        > .icon
          align-self flex-end

          ~ a
            align-items center
            color $color-primary
            display none
            justify-content flex-end
            padding .5em 1.2em
            text-transform uppercase
            transition none

            &:hover
            &.active
              background $color-primary
              color #fff

        &.active
          background #fff

          > .icon

            ~ a
              display flex

    .side
      align-items center
      display flex
      text-transform uppercase

    &.unpinned
      transform translateY(-85px)

    &.pinned
      transform translateY(0px)

    &.topped
      background transparent
      transform translateY(0px)

    &.untopped
      background rgba(255,255,255,.95)

      .item

        &.field
          box-shadow $field-box-shadow

    @media not all and (max-width $media-hide-nav)

      .side

        &.right

          > .mobile.item
            display none !important

    @media(max-width $media-hide-nav)

      .side

        &.left

          > .item

            &:not(.logo)
              display none !important

        &.right

          > .item

            &:not(.mobile)
              display none !important

  &.responsive

    &.doubling
      flex-wrap nowrap

      @media(max-width $media-small)
        flex-wrap wrap

        > .item
          flex-basis 50%

.gl.mobile.nav
  background #fff
  display flex
  flex-direction column
  height 100%
  position fixed
  right 0
  text-align right
  top 0
  transform translateX(200px)
  transition transform $transition-duration
  width 200px
  z-index 12
  padding-top 5em

  .gl.button
    border none
    font-size 1rem
    text-transform none
    font-weight $font-regular

  > .item
    padding ($indent * .75) $indent
    transition none
    position relative

    &:not(:last-child)

      &::after
        background $color-grey-lightest
        content ''
        position absolute
        left 50%
        transform translateX(-50%)
        bottom 0
        height 1px
        width 85%

    &.primary.button
      margin 2em .5em

    &:hover
    &.active
      background $color-primary
      color #fff

      &::after
        background transparent

  /:root

    body::after
      background transparent
      content ''
      height 100%
      left 0
      position fixed
      top 0
      transition background $transition-duration
      pointer-events none
      width 100%
      z-index 11

  /:root.nav &
    box-shadow -7px 0 10px hsla(#000, .25)
    transform translateX(0)

  /:root.nav
    overflow hidden

    @media (max-width $media-hide-nav)

      body::after
        background hsla(#000, .25)
        pointer-events all

  @media not all and (max-width $media-hide-nav)

    &
    + .gl.nav.icon
      display none

  + .gl.nav.icon
    opacity 0
    pointer-events none
    position fixed
    right .7em
    top 1em
    transition opacity $transition-duration
    z-index 12

    &.open
      opacity 1
      pointer-events all

.pagination
  display flex
  justify-content center
  margin-top ($indent * 1.5)
  position relative
  text-align center

  > .newer-posts
  > .older-posts
    flex-shrink 0
    position absolute
    top 0

  > .newer-posts
    margin-right auto
    left 0

  > .page-number
    flex-grow 1

  > .older-posts
    margin-left auto
    right 0

  @media (max-width $media-small)

    > .page-number
      visibility hidden

.gl.button

  &.store
    align-items center
    background transparent
    border 2px solid #fff
    color #fff
    display flex
    justify-content center
    text-transform none
    transition opacity $transition-duration
    opacity 1

    > .icon
      flex-shrink 0
      font-size 2rem
      margin-right ($indent / 2)

      *
        fill #fff

    > div
      font-size .75rem
      font-weight normal
      text-align left

      > div
        text-transform uppercase
        font-weight 700
        font-size 1rem

    &:hover
      opacity .8

.gl.container
  width calc(100% - 2vw)

.gl.link
  color $color-primary

  &.bold
    font-weight $font-bold

  &:hover
    color $color-primary-darker


.gl.post.cards
  display flex
  flex-wrap nowrap
  list-style none
  margin 0
  padding 0

  > .item
    background #fff
    margin ($indent / 2)

    > .content
      padding ($indent / 2)

      > * + *
        margin-top ($indent / 2)

      .author
        font-size .8em

  &.three

    > .item
      flex-basis 33.33%

    @media (max-width 550px)
      flex-wrap wrap

      > .item
        flex-basis 100%
